extends content-folder.pug

block title
	h2 Install Java

block body
	#install-java
		+ossection(os.macos)
			div On a Mac, it is recommended to get started by first opening a terminal. You can search for #[code terminal] in Spotlight (#[+keycombo(["⌘", "Space"])]).
			p Copy/Paste the following code in your terminal to make it easier to use java:
				pre.
					function java() {
						"/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java" "$@" ;
					}
			div If you later get an error saying #[code command not found], you may need to repeat the above.
		+note({type: 'info', title: 'Do I need to do this?'})
			- pathdef = 'The path is a shared list of folders that programs can use to find other programs.'
			| If you have previously installed Java, that will work for the server.
			br
			+osblock(os.windows)
				br
				i If you are unsure if Java is installed:
				ul
					li Open the run dialog (#[+keycombo(['Win', 'R'])])
					li Type in #[code C:\Program Files\Java] and hit #[+keycombo('Enter')]
					li If a folder opened, Java is installed (but may not be on your #[abbr(title=pathdef) system path]!)
			br
			| If Java is already installed, ensure it is on the #[abbr(title=pathdef) system path].
			+osblock(os.windows)
				ul
					li Open the run dialog (#[+keycombo(['Win', 'R'])])
					li Type in #[code java] and hit #[+keycombo('Enter')]
					li If you don't get an error, and can skip this section.

		h3 Installing Java
		.windows.apple
			- abbrs = { 'JRE': 'Java Runtime Environment. Regular Java without the tools needed to develop Java applications.' }
			ul
				li Go to the #[a(href='https://www.java.com/en/download/manual.jsp') download page for the Oracle Java #[abbr(title=abbrs.JRE) JRE]] and download your system's installer.
					ul
						li.windows: a(href='https://javadl.oracle.com/webapps/download/AutoDL?BundleId=241534_1f5b5a70bf22433b84d0e960903adac8') Direct link to 32-bit Windows Installer
						li.windows: a(href='https://javadl.oracle.com/webapps/download/AutoDL?BundleId=241536_1f5b5a70bf22433b84d0e960903adac8') Direct link to 64-bit Windows Installer
						li.apple: a(href='https://javadl.oracle.com/webapps/download/AutoDL?BundleId=241527_1f5b5a70bf22433b84d0e960903adac8') Direct link to Mac OS X Installer (version 10.7.3+)
						li: i These links are for the latest versions of Java at time of writing. They may be out of date.
				li Once the installer is downloaded, you should run it until Java is installed.
					div.disclaimer: i On the Java download page, there is an #[strong Instructions] link for detailed installer assistance.
		.ubuntu
			// linux https://docs.oracle.com/javase/8/docs/technotes/guides/install/linux_jre.html
			// good reference https://www.digitalocean.com/community/tutorials/how-to-install-java-with-apt-on-debian-10
			:markdown-it
				If you are using a Ubuntu/Debian-based Server (If you are using linux, but aren't sure, you probably are), you can use this simple command to install a version of Java suitable for the server.
				``` bash
				sudo apt-get install openjdk-8-jre-headless
				```
		h3 Putting Java on the Path
		.windows
			:markdown-it(html)
				* Get Java's installation folder
					1. Navigate to `C:\Program Files\Java`.
					2. Select a folder
						* Prefer folders starting with `jdk` over `jre`
						* Prefer folders with a higher version number
					3. Enter that folder, and hold shift while right-clicking the `bin` folder.
					4. Select `Copy as path`
				* Add the folder to the system or user path
					1. Press the windows key (<span class="key icon fab fa-windows"></span>) and type `path`
					2. Select either `Edit the system environment variables` or `Edit environment variables for your account`
						* If you chose the system-wide option, you may have to click `Environment Variables...` in the window that pops up
					3. Double click on the `Path` entry to edit it
					4. Click `New` and paste the previously-copied Java bin folder location into the new row
					5. Hit `Ok` until the opened windows are closed
		.apple Double-check that the installation was successful by running #[code java] in your terminal. If you get a #[code command not found] error, you may have to repeat the code block above.
		.ubuntu For Linux systems, installation should have already put Java on your path.