
mwc-tab-bar#tabsChooseOS(style='color: rgba(255, 255, 255, 0.2)')
	mwc-tab(label='Windows 10' hasImageIcon)
		+icon(os.windows, 'fab')
	mwc-tab(label='macOS' hasImageIcon)
		+icon(os.macos, 'fab')
	mwc-tab(label='Linux' hasImageIcon)
		+icon(os.linux, 'fab')
