
extends content-folder.pug

mixin osabbrvariant(prefix, [windows, macos, linux])
	+osblock(os.windows)
		abbr(title=prefix+windows)
			block
	+osblock(os.macos)
		abbr(title=prefix+macos)
			block
	+osblock(os.linux)
		abbr(title=prefix+linux)
			block

block title
	h2 Is this guide for you?

block body
	#requirements
		.side-by-side
				div
					:markdown-it
						If you want a server that is...
						* Owned & Controlled by YOU
						* Easy to run
						* Free (or very cheap!)
				div
					:markdown-it
						If you are familiar with...
						* Navigating between folders
						* Basic command-line usage
						* Basic Networking (What is an IP Address?)
		.centered
			p If you have a computer with enough spare resources for your players...
			.side-by-side
				table.bordered
					tr
						th Players
						th: +osabbrvariant('Random Access Memory. You should consistently have this amount of RAM spare for the server.', [" Open Task Manager's Resources tab to find out how much RAM your computer has.", "", "",])
							| RAM
						th: abbr(title="Approximately how much space you need for your world; dependent on how often players explore. Open My PC to find out how much spare storage space your computer has.")
							| Storage
					tr #[td 1-5 ] #[td 3 GB] #[td 10-20GB]
					tr #[td 5-10] #[td 6 GB] #[td 20-30GB]
					tr #[td 10+ ] #[td 8 GB] #[td 30+GB]
			p Then this guide #[strong IS] for you!
		i Server mods, plugins, and advanced server administration is out of the scope of this guide. This tutorial assumes knowledge of basic minecraft server commands.
