
include mixins.pug

-
	// ensure is synced with .scss and .ts
	const os = {
		windows: 'windows',
		macos: 'apple',
		linux: 'ubuntu',
	}
	os.DEFAULT = os.windows;
	TITLE = 'How to: Install a Minecraft Server'
	//console.log(pug_mixins);

html
	head
		meta(charset='UTF-8')
		// Fix CSS oddities on mobile
		//meta(name='viewport' content='width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86')
		title= TITLE

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=block")
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700&display=swap')

		link(rel='stylesheet' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')
		script(type='text/javascript' src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
		
		script(type='text/javascript', src='../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js')
	body
		#header.section
			+mdc-typography('headline4')= TITLE
			include sections/os-chooser.pug
		
		- expand_def = false // Should the section be auto-expanded?
		- expanded=true
		include sections/requirements.pug

		- expanded=expand_def
		include sections/install-java.pug
		
		- expanded=expand_def
		include sections/install-server.pug

		//		Get latest from https://www.minecraft.net/en-us/download/server/
		// Run Server
		//
			+note({type: 'warning', title: 'Not able to break blocks near spawn?'})
				:no-p-wrap():markdown-it(html)
					Having **any** Operators (OPs) on the server, enables world protections near spawn.
					If you want non-OP'd players to edit the world, you can remove all the OPs of the server,
					or set `spawn-protection` to 0 in the [server.properties file](https://minecraft.gamepedia.com/Server.properties).
					
		// Port forwarding?
		//		A port => similar to apt number
		// Create domain w/ Google Domains?
		// Troubleshooting

		script(type='text/javascript', src='index.ts')
